.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    transition: all 0.3s ease-out;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
}

ul {
    list-style: none;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
}

#presentation ul li:before {
    content: "• ";
    color: #0077b5;
    transition: all 0.3s ease-out;
}

/* Style pour l'option SLAM */

#slam {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

#slam h2 {
    color: #0077b5;
}

#slam p {
    color: #777;
}

#slam ul li:before {
    content: "• ";
    color: #0077b5;
}

/* Style pour l'option SISR */

#sisr {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

#sisr h2 {
    color: #dc143c;
}

#sisr p {
    color: #777;
}

#sisr ul li:before {
    content: "• ";
    color: #dc143c;
}

#presentation {
    margin-left: 20px;
}

/* Styles pour les éléments qui ne sont pas encore affichés */
#slam h2, #sisr h2, #slam p, #sisr p, #slam ul li:before, #sisr ul li:before {
    opacity: 0;
    transition-delay: 0.1s;
    transform: translateY(50px);
}

/* Styles pour les éléments qui sont affichés */
#presentation ul li:before, #presentation p, #presentation h2, #slam h2, #sisr h2, #slam p, #sisr p, #slam ul li:before, #sisr ul li:before {
    opacity: 1;
    transform: translateY(0);
}
@media only screen and (max-width: 768px) {
    #slam,
    #sisr {
      width: 100%;
      float: none;
    }
  }