body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0
}



p.DivBackColor {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    text-align: left;
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 35%;
    left: 27%;
    width: 40em;
    margin: 0 0 0 -20em;
    user-select: none;
    /* Antie sélection texte */
}

span {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.26);

    /* Clip Background Image */

    background: url(https://stc-mc.freeboxos.fr:65396/share/oDIJRLtQePogQ-eP/animated-text-fill-white.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 110s linear infinite;
    /* 80s de base */

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Info Bulle site en conception */

.info-bulle {
    position: fixed;
    bottom: 100px;
    right: -2%;
    transform: translateX(-50%);
    background-color: rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    padding: 10px;
    border-radius: 5px;
    width: 9.5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    animation: slide-up 1s ease forwards;
}

.info-bulle h2 {
    font-size: 1.2em;
    margin-top: 0;
    color: rgb(229, 229, 229);
}

.info-bulle p {
    margin-bottom: 0;
    color: rgb(230, 230, 230);
}

@keyframes slide-up {
    from {
        bottom: -20%;
        /* position initiale */
    }

    to {
        bottom: 10%;
        /* position finale */
    }
}